<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>

 	<script src="app/app.js"></script>
</head>
<body>

<header>
	<nav>
		<div>Home</div>
		<div>Shop</div>
		<div>About</div>
		<div>Contact</div>
	</nav>
</header>

<div class="shop" ng-app="myApp" ng-controller="customersCtrl">
	<div class="gallery">
		<div class="item" ng-repeat="product in products | productFilter: currentCategory" >
			<img ng-src="{{product.picture}}">
			<ul class="item_info">
				<li>{{product.name}}</li>
				<li>{{product.price}}</li>
				<li><button>Add to cart</button></li>
			</ul>
		</div>
		<div id="loader">
			<img src="assets/gifs/loader.gif">
		</div>
	</div>

	<div class="side-content">
		<div class="filter">
			<h4>Filter</h4>
			<label>Category</label>
			<select name="Categories" ng-model="category" ng-change="change(category)" ng-options="category for category in categories">
				
			</select> <br>
			<label>Price range</label>
			<div class="price">
				<div class="price_base">
					<div class="price_min" draggable="true">
						
					</div>
					<div class="price_max" draggable="true">
						
					</div>					
				</div>				
			</div>
		</div>
		<div class="cart">
		Lorem
		<button ng-click="playSound()">CHA-CHING</button>
		</div>
	</div>
</div>

<footer>
	<div>Copiright @ 2015</div>
</footer>

<script>
var app = angular.module('myApp', []);

app.filter('productFilter', function(){
    return function(products, category) {
        var filteredProducts = [];
        var products = products;
        var category = category;
        angular.forEach(products, function(product) {
            if(product.categoriesRaw.indexOf(category) != -1){
                filteredProducts.push(product);
            }
            if(category == "All"){
                filteredProducts.push(product);
            }
        });
        return filteredProducts;
    }
});

app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://www.json-generator.com/api/json/get/bVFLFKuYHS?indent=2")
    .success(function(response) {
    	$scope.products = response;
    	$scope.catFilter();
    });
    $scope.playSound = function(){
    	$scope.audio.play();
    }
    $scope.audio = new Audio('assets/sounds/Ka-Ching.wav');
    $scope.categories = [];
    $scope.categories.push("All");
    $scope.currentCategory = "All";
    $scope.change = function(option){
        
        $scope.currentCategory=option;
        console.log($scope.currentCategory);
    };

    $scope.catFilter=function(){
	    	angular.forEach($scope.products, function(product){
	        var cat = product.categoriesRaw;
	        angular.forEach(cat, function(val){
	            if($scope.categories.indexOf(val) == -1) {
	                $scope.categories.push(val);
	                $scope.currentCategory=val;
	            }
	        });
	    });
    }

});
</script>
</body>
</html>