<div ng-view></div>
<div class="gallery" when-scrolled="shop.LoadProduct()">
	<div class="item animate-repeat" ng-repeat="product in shop.filteredProducts = (shop.products | productFilter: {category: shop.currentCategory, min: shop.filterMinPrice, max: shop.filterMaxPrice, name: shop.nameSearched} )"  >
		<img ng-src="{{product.picture}}">
		<ul class="item_info">
			<a class = "item_link"ng-click="shop.sendProductInfo(product)" href="#Products/{{product.name}}&{{product.price}}" >info</a>
			<li class = "item_name">{{product.name}}</li>
			<li class = "item_price">{{product.price | currency:"$"}}</li>
			<li> <button class = 'item_buyBtn' ng-click="shop.sendProductToCart(product)">+</button> </li>
		</ul>
		<div class="item_cats">
			<div ng-repeat="c in product.categoriesRaw track by $index">{{c}}</div>
		</div>
	</div>
	<div class ="inactive" id="loader" ng-class="{active: shop.loading}">
		<img src="assets/gifs/loader.gif">
	</div>
</div>
