header{
	background: #CCC;
	text-align: right;
}
nav div{
	display: inline-block;
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #000;
	cursor: pointer;
}
nav div:hover{
	background: #111;
	color: #FFF;
	border-color: #FFF;
}
footer{
	background: #CCC
}
footer div{
	margin: 10px;
}

.gallery{
	position: relative;
	display: inline-block;
	max-width: 79%;
	height: 750px;
	overflow: scroll;
}
.side-content{
	display: inline-block;
	position: fixed;
	top: 15%;
	right: 1%;
	max-width: 20%;
}
.filter,
.cart{
	padding: 1% 5% 1% 1%;
}
.filter{
	display: block;
	position: relative;
	border-radius: 5px;
	border:1px solid black;
}
.filter_icon{
	display: block;
	padding: 0;
	border-radius: 5px;
	border:1px solid black;
	transition: 0s all;
	transition: background 0.5s;

}
.filter_icon:hover{
	background: salmon;
	
	cursor: pointer;
}
.cart{
	position: relative;
	display: block;
	border-radius: 5px;
	border:1px solid black;
}
.cart_icon{
	display: block;
	padding: 0;
	border-radius: 5px;
	border:1px solid black;
	transition: 0s all;
	transition: background 0.5s;
}
.cart_icon:hover{
	background: salmon;
	cursor: pointer;
}
.closeBtn{
	border: 1px solid white;
	padding: 3px 3px 4px 3px;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	background: black;
	font-size: 40%;
	text-align: center;
	cursor: pointer;
}
.productList td {
	padding: 10px 15px;
}
.item{
	position: relative;
	display: inline-block;
	margin: 5px 10px;
	border-radius: 5px;
	border: 1px solid #000;
	background: linear-gradient(to bottom right, darkgrey , lightgrey);
}
.item_info{
	list-style: none;
}
.item_cats{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.6);
	text-align: center;
	max-height: 70%;
}
.item_cats div{
	margin: 10px;
	padding: 10px 15px;
	background: green;

}
.item:hover .item_cats{
	display: block;
}

.price{
	display: inline-block;
	width: 100%;
}
.price_base{
	border: 1px solid black;
	border-radius: 8px;
	padding: 5px;
	position: relative;
	height: 10px;
	background: #DDD;
}
.price_base > div{
	border: 5px solid black; 
	border-radius: 100%;
	width: 5px;
	height: 5px;
	position: absolute;
	top:15%;
	background: #FFF;
}
.price_base > div:hover{
	border: 5px solid darkgrey;
}
.price_base > div:focus{
	border: 5px solid orange;
}
.price_min{
	left: 0;
}
.price_max{
	right: 0;
}
.inactive{
	display: none;
	margin: 5% 50%;
}
.active{
	display: block;
}

.ranger_value{
	display: inline-block;
	width: 40%;
}



.range{
  height: 20px;
  width: 100%;
  position: relative;
  background: gray;
  margin: 10px 0;

}
.range_left,
.range_right{
  background: red;
  width: 10px;
  height: 100%;
  cursor: pointer;
}
.range_right{
  float: right;
  background: blue; 
}
.range_left{
	float:left;
}


